* {
  font-size: 16px;
}
body {
  --spaceOX: 10px;
  --paddingInside: 10px;
}
#grid-container {
  display: grid;
  /* 3.b */
  gap: 10px 15px;
  height: fit-content;
  width: 100%;
  grid-template-areas:
    "z-welcome z-welcome"
    "z-content z-content"
    "z-events z-events"
    "z-farms-info z-announcements"
    "z-users-statistic z-users-statistic"
    "z-users  z-server-status";
}
nav {
  padding: 0;
  width: calc(100vw - var(--spaceOX) * 4);
}
