/* 2.2.2 */
/* 2.2.1 */
#grid-container {
  display: grid;
  height: fit-content;
  width: 100%;
  /* 3.b */
  gap: 15px 20px;
  grid-template-areas:
    "z-welcome z-welcome z-welcome z-welcome"
    "z-content z-content z-content z-content"
    "z-events z-farms-info z-farms-info z-announcements"
    "z-users z-users-statistics z-server-status z-server-status";
}
nav {
  padding: 0;
  width: calc(100vw - var(--spaceOX) * 2.3);
}
html {
  font-size: 20px;
}
body {
  --spaceOX: 120px;
  --paddingInside: 20px;
}
table {
  border-collapse: collapse;
  width: 5%;
}
th {
  background-color: var(--cyan900);
  color: white;
  padding: 2px;
}
td {
  border: 1px solid var(--grey200);
  padding: 2px;
  vertical-align: top;
}
figure img {
  max-width: 520px;
  width: 100%;
}
