.hamburger {
  display: none;
}

.hamburger div {
  background-color: #333;
  height: 3px;
  margin: 5px 0;
  width: 30px;
  transition: all 0.3s ease-in-out;
}

/* Media query for small screens */
@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  header {
    --headerHeight: 75px;
    --paddingTop: 15px;
  }
  header {
    padding-top: --paddingTop;
    background-color: var(--green1);
    height: var(--headerHeight);
    display: flex;
    position: sticky;
    top: 0;

    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: calc(100%-2px);
  }
  nav {
    margin-left: -100%;
    flex-direction: column;
    transition: margin-left 0.3s ease-in-out;
  }
  header h1 {
    width: 100%;
  }
  nav.active {
    margin-left: 0;
  }
  nav {
    background-color: var(--green1);
    padding-top: 90px;
  }
  .hamburger div:nth-child(2) {
    transform: scaleX(0);
  }

  .hamburger.active div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active div:nth-child(2) {
    transform: scaleX(1);
  }

  .hamburger.active div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  ul.menu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: justify;
    flex-direction: column;
  }

  ul.menu > li > ul > li > a {
    padding-top: 2px;
    height: 25px;
  }

  ul.menu > li > ul > li {
    height: 0px;
    transition: height 1s ease-in-out;
  }
  ul.menu > li > ul > li.active {
    height: 25px;
  }
}
