figure img {
  display: none;
}

@media only screen and (max-width: 600px) {
  #small-image {
    display: block;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #medium-image {
    display: block;
  }
}

@media only screen and (min-width: 1201px) {
  #big-image {
    display: block;
  }
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.accordion-header {
  background-color: #eee;
  color: #333;
  cursor: pointer;
  padding: 10px;
}

.accordion-content {
  display: none;
  padding: 10px;
}

#header-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
#logo-image {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 3.a */
body {
  margin-left: var(--spaceOX);
  margin-right: var(--spaceOX);
  padding-left: calc(var(--spaceOX) / 2);
  padding-right: calc(var(--spaceOX) / 2);
  border: 2px solid var(--green500);
  border-radius: 10px;
}
td {
  text-align: center;
}
body {
  --orange100: #ffe7e4;
  --orange200: #daa8a2;
  --orange300: #f2978c;
  --orange400: #ea7a6c;
  --orange500: #e95c4b;
  --orange600: #d34a3a;
  --orange700: #cc2d1a;
  --orange800: 8A3024;
  --orange900: #73180d;

  --white: #ffffff;

  --brown100: #c7a684;
  --brown200: #8d7863;
  --brown300: #9e7348;
  --brown400: #614c36;
  --brown500: #4b3621;
  --brown600: #3c2e20;
  --brown700: #362615;
  --brown800: #2d2218;
  --brown900: #170c00;

  --mustard10: #e9ab4b40;
  --mustard100: #f9dfb7;
  --mustard200: #eac996;
  --mustard300: #f2ca8c;
  --mustard400: #f1bc6a;
  --mustard500: #e9ab4b;
  --mustard600: #d1902d;
  --mustard700: #cd861b;
  --mustard800: #a36a15;
  --mustard900: #724a0c;

  --cyan100: #dcfdff;
  --cyan200: #d4f0f3;
  --cyan300: #b5f1f9;
  --cyan400: #8becf7;
  --cyan500: #4bd8e9;
  --cyan600: #25bfd1;
  --cyan700: #23b9cc;
  --cyan800: #108d9c;
  --cyan900: #046773;

  --regularText: #333333;
  --black: #000000;
  --lightGrey: #000029;
  --palePink: #fef7f6;

  --grey100: #ebe6e7;
  --grey200: #e0e0e0;
  --grey300: #c1bfbf;
  --grey400: #c9c9c9;
  --grey500: #acacac;
  --grey600: #969696;
  --grey700: #737373;
  --grey800: #595959;
  --grey900: #413f40;

  --danger10: #9f160540;
  --danger100: #fc9082;
  --danger200: #a6726c;
  --danger300: #f73921;
  --danger400: #a35046;
  --danger500: #9f1605;
  --danger600: #731003;
  --danger700: #4a0b03;
  --danger800: #4a0a01;
  --danger900: #4c0700;

  --green1: #f5fdf6;
  --green10: #ddffe2;
  --green100: #8ef091;
  --green200: #99bc9a;
  --green300: #38e33b;
  --green400: #51b854;
  --green500: #3a9a3a;
  --green600: #2e7d2e;
  --green700: #1f5f1f;
  --green800: #0f3f0f;
  --green900: #0a2a0a;

  --button-blue-100: #c2e2f2;
  --button-blue-200: #9cbad9;
  --button-blue-300: #7aa2c2;
  --button-blue-400: #5a8aa9;
  --button-blue-500: #3c7192;
  --button-blue-600: #2e5a73;
  --button-blue-700: #224557;
  --button-blue-800: #16303c;
  --button-blue-900: #0b1b21;

  --button-grey-100: #fcf1e9;
  --button-grey-200: #eee3da;
  --button-grey-300: #e2d8d0;
  --button-grey-400: #e1d6cc;
  --button-grey-500: #cabeb3;
  --button-grey-600: #beb8b2;
  --button-grey-700: #b5a597;
  --button-grey-800: #a7998d;
  --button-grey-900: #9f8b7a;

  --transparent-danger-100: #fc908299;
  --transparent-danger-200: #a6726c99;
  --transparent-danger-300: #f7392199;
  --transparent-danger-400: #a3504699;
  --transparent-danger-500: #9f160599;
  --transparent-danger-600: #73100399;
  --transparent-danger-700: #7d100399;
  --transparent-danger-800: #4a0a0199;
  --transparent-danger-900: #4c070099;

  --transparent-grey-100: #ddd7d999;
  --transparent-grey-200: #e0e0e099;
  --transparent-grey-300: #c1bfbf99;
  --transparent-grey-400: #c9c9c999;
  --transparent-grey-500: #acacac99;
  --transparent-grey-600: #96969699;
  --transparent-grey-700: #73737399;
  --transparent-grey-800: #59595999;
  --transparent-grey-900: #413f4099;

  --transparent-orange-100: #ffe7e499;
  --transparent-orange-200: #daa8a299;
  --transparent-orange-300: #f2978c99;
  --transparent-orange-400: #ea7a6c99;
  --transparent-orange-500: #e95c4b99;
  --transparent-orange-600: #d34a3a99;
  --transparent-orange-700: #cc2d1a99;
  --transparent-orange-800: 8A302499;
  --transparent-orange-900: #73180d99;

  --transparent-brown-100: #c7a68499;
  --transparent-brown-200: #8d786399;
  --transparent-brown-300: #9e734899;
  --transparent-brown-400: #614c3699;
  --transparent-brown-500: #4b362199;
  --transparent-brown-600: #3c2e2099;
  --transparent-brown-700: #36261599;
  --transparent-brown-800: #2d221899;
  --transparent-brown-900: #170c0099;
}
body {
  /* 2.c */
  min-width: 450px;
  background-color: var(--green1);
}
body.dark {
  background-color: var(--green500);
}
/* 2.2.1 */

#grid-welcome {
  grid-area: z-welcome;
  width: 100%;
}
#grid-content {
  grid-area: z-content;
}
#grid-farms-info {
  width: 100%;
  grid-area: z-farms-info;
}
#grid-events {
  grid-area: z-events;
  width: fit-content;
}
#grid-announcements {
  grid-area: z-announcements;
}
#grid-server-status {
  grid-area: z-server-status;
}
#grid-users {
  grid-area: z-users;
}
#grid-users-statisics {
  grid-area: z-users-statistics;
}
td.event {
  background-color: var(--grey100);
}
td.today {
  background-color: var(--cyan100);
}
.announcement {
  border: 1px solid var(--grey300);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.announcement-header h2 {
  font-size: 24px;
  margin: 0;
}

.announcement-header p {
  font-size: 14px;
  margin: 0;
  color: var(--grey500);
}

.announcement-body p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
.status-announcement {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.status-up {
  color: var(--green500);
  font-weight: bold;
}

.visitor-count {
  color: var(--cyan500);
  font-weight: bold;
}
#videos {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2.3 */
.tab {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
}

.tab:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.tab:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.tab:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.tab:hover:before {
  transform-origin: left;
}

.tab:hover:after {
  transform-origin: right;
}

.tab:hover:before,
.tab:hover:after {
  transform: scaleX(1);
}

/* 2.5 */
.arrow {
  background-color: var(--button-blue-100);
  color: var(--cyan900);
  position: relative;
  display: inline-block;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 40px;
  height: 32px;
  font-size: 60px;
  line-height: 30px;
  opacity: 0.5;
  text-align: center;
}

.arrow:hover {
  opacity: 1;
  transform: scale(1.4);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.tooltip:hover::before {
  content: attr(title);
  /* folosim pseudoclass before pt a afisa elementul si attr for a extrage titlul dat ca parametru
  planuiesc sa il fac drept componenta generala acest tooltip */
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
}
#grid-container > section {
  width: 100%;
}
body > * {
  padding: var(--paddingInside);
}
