body {
  --menu-height: 25px;
}
ul.menu li ul {
  display: none;
}
nav {
  width: 100%;
  background-color: var(--green500);
  height: var(--menu-height);
  position: sticky;
  top: 0;
}
ul.menu {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: justify;
}
ul.menu li {
  width: 100%;
  display: block;
  border-right: 2px solid var(--green600);
}
ul.menu li a,
ul.menu li div {
  width: 100%;
  height: var(--menu-height);
  color: var(--white);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-decoration: none;
}

#grid-container {
  padding-top: 90px;
}
