$body-height: 60px;
$animation-duration: 0.3s;
$width-menu-animation: 5%;
$width-menu: 100%;
$padding-top: 20px;
nav {
  cursor: pointer;
  display: flex;
  height: $body-height;
  padding-top: $padding-top;
  position: sticky;
  top: 0;
  margin-left: calc(var(--spaceOX) * -0.5);
}

ul.menu {
  list-style-type: none;
  width: $width-menu;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: justify;

  li {
    padding-top: 20px;
    a,
    div {
      width: $width-menu;
      height: var(--menu-height);
      color: white;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
  > li {
    position: relative;
    display: inline-block;
    width: $width-menu;
    background-color: var(--green500);
    color: var(--white);
    overflow: hidden;
    height: var(--menu-height);
    > div:hover,
    > a:hover {
      transform: scale(1.2);
      transition: transform $animation-duration ease-in-out;
      z-index: 10;
      position: relative;
      filter: 0;
    }

    > ul {
      > li {
        background-color: var(--green500);

        > a,
        > div {
          position: relative;
          padding-top: 5px;
          height: 50px;
        }
        > a::after,
        > div::after {
          content: "";
          width: $width-menu-animation;
          height: 0;
          display: block;
          position: absolute;
          z-index: 1;
          right: 0;
          bottom: 0;
          background: linear-gradient(to left, var(--green10), var(--green500));
        }
        > a::before,
        > div::before {
          content: "";
          width: $width-menu-animation;
          height: 0;
          display: block;
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          background: linear-gradient(
            to right,
            var(--green10),
            var(--green500)
          );
        }
        > a:hover::after,
        > a:hover::before,
        > div:hover::after,
        > div:hover::before {
          height: 100%;
          transition: height 0.5s ease-in-out;
        }
      }
    }
  }

  > li:hover {
    animation-name: menu-item;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
}

/* 3.1.a */

/* 3.1.c */

ul.menu li {
  width: $width-menu;
  border-right: 2px solid var(--green600);
}

ul.menu ul {
  padding-inline-start: 0;
}

#grid-container {
  padding-top: 90px;
}
@keyframes menu-item {
  0% {
    height: 50px;
  }
  100% {
    height: 270px;
  }
}
