body {
  --menu-height: 50px;
}

nav {
  cursor: pointer;
  display: flex;
  height: var(--menu-height);
  position: sticky;
  top: 0;
  margin-left: calc(var(--spaceOX) * -0.5);
  border: 1px solid red;
}

ul.menu {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: justify;
}
ul.menu li {
  width: 100%;
  color: var(--white);
  background-color: var(--green500);
  overflow: hidden;
}
ul.menu li:hover {
  overflow: visible;
  color: white;
}
ul.menu li {
  width: 100%;
  display: block;
  border-right: 2px solid var(--green600);
}
ul.menu ul {
  padding-inline-start: 0;
}
ul.menu li a,
ul.menu li div {
  width: 100%;
  height: var(--menu-height);
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
}

#grid-container {
  padding-top: 90px;
}
